$primary: #211E57;
$secondary: #008FCA;
$teritary: #393939;
$black: #000;
$white: #fff;

$footer-color: #353535;
$background : #F5F5F7;
$header-gradient: linear-gradient(90deg, rgba(9,1,1,1) 10%, rgba(56,7,9,1) 90%);

$text-color:$black;
$gray: #f6f6f7;
$red: #ff0000;


$font-primary :'Lato', sans-serif;
$font-secondary : 'Libre Caslon Text', serif;